.inpute {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-left: 38%;
  margin-right: 38%;
  width: 24%;
  border: solid black 2px;
}

.formTitle {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add {
  margin-left: 35px;
}
