<div class="inpute">
  <h1>Formulaire d'ajout de chat</h1>

  <h2 class="formTitle">nom du chat</h2>
  <input
    type="text"
    [(ngModel)]="makeCatService.nameCat"
  >

  <h2 class="formTitle">Race du chat</h2>
  <input
    type="text"
    [(ngModel)]="makeCatService.raceCat"
  >

  <h2 class="formTitle">Date de naissance du chat</h2>
  <input
    type="text"
    [(ngModel)]="makeCatService.bdCat"
  >

  <h2 class="formTitle">Lien de la photo du chat</h2>
  <input
    type="text"
    [(ngModel)]="makeCatService.urlCat"
  >

  <a
  href
  class="remove button is-danger is-small is-outlined"
  (click)="makeCatService.addToMarket($event)"
  >Ajouter</a>
</div>



