<div class="inpute">
  <h1>Formulaire d'ajout de chat</h1>
    <form (ngSubmit)="makeCatService.addToMarket(f)" #f="ngForm">
      <div class="form-group">
        <label for="nameCat" class="formTitle">
          nom du chat
        </label>
        <input
          type="text"
          id="nameCat"
          class="form-control"
          name="nameCat"
          [(ngModel)]="makeCatService.nameCat"
          required
        >
      </div>

      <div class="form-group">
        <label for="raceCat" class="formTitle">
          Race du chat
        </label>
        <input
          type="text"
          id="raceCat"
          class="form-control"
          name="raceCat"
          [(ngModel)]="makeCatService.raceCat"
          required
        >
      </div>

      <div class="form-group">
        <label for="bdCat" class="formTitle">
          Date de naissance du chat
        </label>
        <input
          type="date"
          id="bdCat"
          class="form-control"
          name="bdCat"
          [(ngModel)]="makeCatService.bdCat"
          required
        >
      </div>

        <div class="form-group">
          <label for="urlCat" class="formTitle">
            Lien de la photo du chat
          </label>
          <input
            type="text"
            id="urlCat"
            class="form-control"
            name="urlCat"
            [(ngModel)]="makeCatService.urlCat"
            required
          >

      </div>
      <br>
      <button
        type="submit"
        class="add button is-danger is-medium is-outlined"
        [disabled]="f.invalid"
      >Ajouter un chat
      </button>
    </form>
</div>



